body{
    display:flex;
    flex-direction: column;
    height:1264px;   
}

.header{
    display:flex;
    background-color: #1F2037;
    height: 32px;

    .headerlogo{
        color: white;
    }
}

.logo {
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    font-size:24px;
    color: #F9FAF8;
}

.right-links{
    display: flex;
    justify-content: center;
    align-items: center;
} 

ul{
    list-style: none;
    display:flex;
    align-items: flex-end;
    padding-right: 40px;
    gap: 24px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    text-size-adjust: 18px;
}

.top{
    background-color:  #1F2037;
    height:300px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
    .main{
        color:#F9FAF8;
        text-size-adjust: 48px;
        font-weight: 800;
    }

    .second{
        color:#E5E7EB;
        text-size-adjust: 18px;
    }

    .btn-top{
        background-color: #3882F6;
        color: white;
        border: none;
        border-radius: 10%;
    }

    .top-image{
        background-color: grey;
        width:150px;
        height:150px;
    }
    
}



.midone{
    background-color: white;
    height:300px;
    display:flex;
    flex-direction: column;
    .mid-image{
        display: flex;
        
        
        .img-one,
        .img-two,
        .img-three,
        .img-four{
            background-color: grey;
            width:150px;
            height:150px;
            
            flex-direction: column;
        }

       
    }
}

.midtwo{
    background-color: #E5E7EB;
    height:300px;
}

.bottom{
    background-color: white;
    height:300px;
}

.footer{
    background-color: #1F2937;
    height:32px;
    display: flex;
    align-items: center;
    justify-content: center
        
    }