html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    flex-direction: column;
    height:1064px;   
}

.header{
    display:flex;
    background-color: #1F2037;
    height: 32px;

    .headerlogo{
        color: white;
    }
}

.logo {
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    font-size:24px;
    color: #F9FAF8;
}

.right-links{
    display: flex;
    justify-content: center;
    align-items: center;
} 

ul{
    list-style: none;
    display:flex;
    align-items: flex-end;
    padding-right: 40px;
    gap: 24px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 14px;
}

.top{
    background-color:  #1F2037;
    height:300px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    word-wrap: wrap;

    .main{
        color:#F9FAF8;
        font-size: 48px;
        font-weight: 800;
        
    }

    .second{
        color:#E5E7EB;
        font-size: 18px;
    }

    .btn-top{
        background-color: #3882F6;
        color: white;
        border: none;
        border-radius: 10%;
        height: 20px;
        width: 75px;
        margin-top: 8px;
    }

    .top-image{
        background-color: grey;
        width:150px;
        height:150px;

    }
    
}



.midone{
    background-color: white;
    height:300px;
    display:flex;
    flex-direction: column;
    
    .content-two{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 36px;

        .information{
            font-size: 36px;
            color:#1F2937;
            font-weight: 800;
        }
    }
    
    .mid-image{
       display: flex;
       padding:8px;
       justify-content: space-around; 
           
        .img-one, .img-two, .img-three, .img-four{
            background-color: grey;
            width:105px;
            height:106px;
            display:flex;
            flex-direction: column;
            border: solid #3882F6;
            border-radius:15%;
        }

        
       
    }
}

figcaption{
    display: flex;
    justify-content: center;
    padding-top: 4px;
}

.midtwo{
    background-color: #E5E7EB;
    color: #1F2937;
    height:300px;
    display:flex;
    flex-direction: column;
    flex:1;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    font-size: 24px;
    font-style: italic;
}

.bottom{
    background-color: white;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .box{
        height: 100px;
        width: 650px;
        display:flex;
        padding-left: 50px;
        align-items: center;
        background-color: #3882F6;  
        color:white;

        .btm-main{
            margin-bottom: 0px;
            font-size:24px;
        }

        .btm-second{
            margin-top: 0px;
            font-size:18px;
        }
        
        .btbut{
            margin-left: 100px;
            background-color: #3882F6;
            color: white;
            border-color: white;
            border-radius: 10%
            
        }
    }
}


.footer{
    background-color: #1F2937;
    height:32px;
    display: flex;
    align-items: center;
    justify-content: center;
        
    }